<div class="banner-first d-flex align-items-center" role="container-fluid">
    <div class="container mx-auto">
        <div class="row align-items-center text-center text-md-start">
            <div class="col-md-4 mb-5  mb-md-0">
                <h1>Melhor cartão ever da vida</h1>
                <h2>Todos os outros são lixos em comparação</h2>
                <h3>Incomparável</h3>
            </div>
            <div class="col-md-4 offset-md-4 align-items-center d-flex">
                <app-a-login class="mx-auto"></app-a-login>
            </div>
        </div>
    </div>
</div>
<div class="banner-second  d-flex align-items-center" role="container-fluid">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <h1>Muitos Beneficios</h1>
                <h2>Só não serão ditos, porque são muitos</h2>
                <h3>a competição tem inveja</h3>
            </div>
        </div>
    </div>
</div>

<div class="banner-third  d-flex align-items-center" role="container-fluid">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <h1>Qualquer semelhança é mera coincidência</h1>
            </div>
        </div>
    </div>
</div>

<div class="banner-fourth  d-flex align-items-center" role="container-fluid">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <h1>Cuidaremos bem do seu dinheiro</h1>
                <h2>Pode confiar</h2>
                <h3>Garantia: Bill Gates</h3>
            </div>
        </div>
    </div>
</div>