<nav class="navbar" id="nubankbar">

  <img src="assets/nubank-logo.png">
  <div class="container-fluid container ms-5 align-items-center">
      <div class="row mx-auto">
          <div class="col">
              <h1>Página Inicial</h1>
          </div>
          <div class="col">
              <h1>Para você</h1>
          </div>
          <div class="col">
              <h1>Para seu negócio</h1>
          </div>
          <div class="col">
              <h1>O Nubank</h1>
          </div>
          <div class="col">
              <h1>Perguntas</h1>
          </div>
      </div>
  </div>
</nav>
